PROJECT_NAME=transport

HASURA_URL=http://localhost:8080/v1/graphql
HASURA_ADMIN_SECRET=

USER_ADMIN_PASSWORD=
USER_MODERATOR_PASSWORD=
USER_TEST_PASSWORD=

USER_FRESH_EMAIL=fresh@transport.local
USER_FRESH_PASSWORD=
USER_FRESH_NEW_PASSWORD=
